{% extends 'base.html.twig' %}

{% block title %}HELLO BIENVENUE DANS KAAYDEUK{% endblock %}

{% block body %}
<div class="container mt-5">
    {#Jumbotron#}
    <div class="jumbotron">
        <h2 class="display-3"><strong><i>Hello Bienvenue à KAAYDEUK</i></strong></h2>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    {#end jumbotron#}
    <h2 class="mt-5">Nos Derniers Annonces...</h2>
<div class= "row"> {# card__Begin__#}
    

</div>
 {# card__end__#}


{% endblock %}
